h3 {
  text-align: center;
  margin: 2em;
}
.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 35px;
  height: 35px;
}