---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Image from '../components/Image.astro';
import Info from '../components/Info.astro';

import '../styles/Index.css'
---

<Layout title="Infografías Kotlin">
	<main>
		<div class="container">
			<div class="menu">
				<Menu />
			</div>
			<div class="image">
				<Image 
					img="/images/practica1.png"
					alt="Practica1"/>
			</div>
			<div class="info">
				<Info />
			</div>
		</div>
	</main>
</Layout>
