---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';

import '../styles/Index.css'
---

<Layout title="Infografías Kotlin">
	<main>
		<Header></Header>
		<Card
			title="Practica 1"
			body="Instalación y configuración de Kotlin: IntelliJ IDEA y Visual Studio Code"
			img="/images/practica1.png"
		/>
	</main>
</Layout>
