---
interface Props {
}

const { } = Astro.props;

import '../styles/Header.css';
---

<div class="nav">
  <img src='/icons/img.png' alt="icon" class="icon" />
  <h3>INFOGRAFIAS <span class="text-gradient">KOTLIN</span></h3>
</div>